ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    margin: 0;
}

/* The hero section below */
.hero-section {
    background-color: #1f2937;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-logo {
    font-size: 24px;
    color: #f9faf8;
}