ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

/* Leave a margin for tags inside sections */
.section-container {
    margin: 0 20%;
}

/* The hero section below */
.hero-section {
    background-color: #1f2937;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-navbar ul {
    display: flex;
    gap: 40px;
    padding: 0;
}

.hero-contents {
    display: flex;
    padding: 100px 0;
}

.hero-text-container {
    margin-right: 60px;
}

.hero-section button {
    background-color: #3882f6;
    border: 2px solid #3882f6;
    padding: 4px;
    border-radius: 6px;
    color: #f9faf8;
    width: 90px;
    margin-top: 10px;
}

/* Information section below */
.information-section {
    padding-bottom: 100px;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 700;
    width: fit-content;
    margin: 50px auto;
}

.information-boxes-container {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.info-box {
    max-width: 200px;
    text-align: center;
}

.info-box img {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 6px;
    object-fit: cover;
}

/* Quote section below */
.quote-section {
    background-color: #e5e7eb;
    padding: 100px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-source {
    text-align: right;
    font-size: 25px;
    font-weight: 700;
    margin-right: 30px;
}

/* Call to action section below */
.action-section {
    padding: 100px 0;
}

.call-to-action {
    background-color: #3882f6;
    padding: 30px 90px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.call-to-action h2 {
    margin: 0;
    font-size: 25px;
    color: #e5e7eb;
}

.call-to-action p {
    color: #e5e7eb;
}

.call-to-action button {
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    border-radius: 6px;
    color: #f9faf8;
    width: 90px;
    margin-top: 10px;
}

/* Footer */
.footer-section {
    background-color: #1f2937;
}

footer {
    color: #f9faf8;
    text-align: center;
    padding: 20px 0;
}

/* button hover effect */
button:hover {
    background-color: #315b9e;
}